
<%- include('../includes/head.ejs') %>

</head>
<body>

    <%- include('../includes/nav.ejs') %>

    <form>
        <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name">
        </div>
        <div class="form-group">
        <label for="exampleFormControlSelect1">Price</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="price">
        </div>
        
        <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

<%- include('../includes/end.ejs') %>